name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  Linux-build:
    name: build on ${{matrix.os}} with ${{matrix.compiler.compiler}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ ubuntu-24.04 ]
        compiler:
          - { compiler: GNU14, CC: gcc-14, CXX: g++-14, packages: gcc-14 g++-14 }
          - { compiler: LLVM20, CC: clang-20, CXX: clang++-20, packages: clang-20 libomp-20-dev llvm-20-dev libc++-20-dev libc++abi1-20 lld-20 clang-tools-20 mlir-20-tools libmlir-20-dev }
    env:
      BUILD_TYPE: Release
      CC: ${{matrix.compiler.CC}}
      CXX: ${{matrix.compiler.CXX}}

    steps:
      - uses: actions/checkout@v2
      - name: Install packages for ${{matrix.compiler.compiler}}
        run: sudo apt-get -y install ${{matrix.compiler.packages}}
      - name: Build and install emawp
        run: git clone https://github.com/jakubfi/emawp && cd emawp && mkdir build && cd build && cmake .. && make && sudo make install && sudo ldconfig
      - name: Build and install emas
        run: git clone https://github.com/jakubfi/emas && cd emas && mkdir build && cd build && cmake .. && make && sudo make install
      - name: Configure project
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
      - name: Install
        run: sudo cmake --install ${{github.workspace}}/build
      - name: Run tests
        working-directory: ${{github.workspace}}/tests
        run: ./runtests.sh

  Win64-build:
    name: Win64 build
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        compiler:
          - { compiler: GNU, CC: gcc }
    defaults:
      run:
        shell: msys2 {0}
    env:
      BUILD_TYPE: Release
      CC: ${{matrix.compiler.CC}}
      SRC_DIR: ${{github.workspace}}
      BUILD_DIR: ${{github.workspace}}/build
      INSTALL_PREFIX: /mingw64
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          install: >-
            base-devel
            git
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-cmake
          update: true
      - uses: actions/checkout@v2
      - name: Initialize
        run: ./.ci/ci-script.sh init
      - name: Configure
        run: ./.ci/ci-script.sh configure
      - name: Build
        run: ./.ci/ci-script.sh build
      - name: Install
        run: ./.ci/ci-script.sh install
      - name: Test
        run: ./.ci/ci-script.sh test
